EDA:
Entender el dataset: tamaño, tipos, nulos, duplicados, valores constantes y calidad general.
Identificar variables potencialmente relacionadas con Attrition (rotación).
Definir qué limpieza/transformaciones serán necesarias en la siguiente fase.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('hr.csv')

In [ ]:
df.head() #Muestra las primeras 5 filas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1401 non-null   float64
 1   Attrition                 1474 non-null   object
 2   BusinessTravel            1357 non-null   object
 3   DailyRate                 1474 non-null   int64
 4   Department                1445 non-null   object
 5   DistanceFromHome          1474 non-null   int64
 6   Education                 1474 non-null   int64
 7   EducationField            1416 non-null   object
 8   EmployeeCount             1474 non-null   int64
 9   EmployeeNumber            1474 non-null   int64
 10  EnvironmentSatisfaction   1474 non-null   int64
 11  Gender                    1474 non-null   object
 12  HourlyRate                1474 non-null   int64
 13  JobInvolvement            1474 non-null   int64
 14  JobLevel                  1474 non-null   int64
 15  JobRole                   1474 non-null   object
 16  JobSatisfaction           1445 non-null   float64
 17  MaritalStatus             1342 non-null   object
 18  MonthlyIncome             1460 non-null   float64
 19  MonthlyRate               1474 non-null   int64
 20  NumCompaniesWorked        1474 non-null   int64
 21  Over18                    1474 non-null   object
 22  OverTime                  1430 non-null   object
 23  PercentSalaryHike         1474 non-null   int64
 24  PerformanceRating         1474 non-null   int64
 25  RelationshipSatisfaction  1474 non-null   int64
 26  StandardHours             1310 non-null   float64
 27  StockOptionLevel          1474 non-null   int64
 28  TotalWorkingYears         1474 non-null   int64
 29  TrainingTimesLastYear     1386 non-null   float64
 30  WorkLifeBalance           1474 non-null   int64
 31  YearsAtCompany            1474 non-null   int64
 32  YearsInCurrentRole        1474 non-null   int64
 33  YearsSinceLastPromotion   1474 non-null   int64
 34  YearsWithCurrManager      1326 non-null   float64
dtypes: float64(6), int64(20), object(9)
memory usage: 403.2+ KB

In [13]:
df.info()#Nos dice si hay datos faltantes(nulos), y que tipo de dato tenemos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1401 non-null   float64
 1   Attrition                 1474 non-null   object
 2   BusinessTravel            1357 non-null   object
 3   DailyRate                 1474 non-null   int64
 4   Department                1445 non-null   object
 5   DistanceFromHome          1474 non-null   int64
 6   Education                 1474 non-null   int64
 7   EducationField            1416 non-null   object
 8   EmployeeCount             1474 non-null   int64
 9   EmployeeNumber            1474 non-null   int64
 10  EnvironmentSatisfaction   1474 non-null   int64
 11  Gender                    1474 non-null   object
 12  HourlyRate                1474 non-null   int64
 13  JobInvolvement            1474 non-null   int64
 14  JobLevel                  1474 non-null   int64
 15  JobRole                   1474 non-null   object
 16  JobSatisfaction           1445 non-null   float64
 17  MaritalStatus             1342 non-null   object
 18  MonthlyIncome             1460 non-null   float64
 19  MonthlyRate               1474 non-null   int64
 20  NumCompaniesWorked        1474 non-null   int64
 21  Over18                    1474 non-null   object
 22  OverTime                  1430 non-null   object
 23  PercentSalaryHike         1474 non-null   int64
 24  PerformanceRating         1474 non-null   int64
 25  RelationshipSatisfaction  1474 non-null   int64
 26  StandardHours             1310 non-null   float64
 27  StockOptionLevel          1474 non-null   int64
 28  TotalWorkingYears         1474 non-null   int64
 29  TrainingTimesLastYear     1386 non-null   float64
 30  WorkLifeBalance           1474 non-null   int64
 31  YearsAtCompany            1474 non-null   int64
 32  YearsInCurrentRole        1474 non-null   int64
 33  YearsSinceLastPromotion   1474 non-null   int64
 34  YearsWithCurrManager      1326 non-null   float64
dtypes: float64(6), int64(20), object(9)
memory usage: 403.2+ KB

In [18]:
df.describe().T#Info completa de promedios y mediana

,count,mean,std,min,25%,50%,75%,max
Age,1401.0,36.944325,9.105009,18.0,30.00,36.0,43.00,60.0
DailyRate,1474.0,802.702171,403.539530,102.0,465.00,803.0,1157.00,1499.0
DistanceFromHome,1474.0,9.199457,8.104266,1.0,2.00,7.0,14.00,29.0
Education,1474.0,2.911126,1.024267,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1474.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1474.0,1024.471506,602.421193,1.0,488.75,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1474.0,2.723881,1.093280,1.0,2.00,3.0,4.00,4.0
HourlyRate,1474.0,65.887381,20.310444,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1474.0,2.729986,0.712861,1.0,2.00,3.0,3.00,4.0
JobLevel,1474.0,2.063772,1.106055,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1445.0,2.728720,1.106409,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1460.0,6497.448630,4706.059294,1009.0,2909.00,4907.0,8377.00,19999.0
MonthlyRate,1474.0,14328.611940,7120.225285,2094.0,8054.50,14248.5,20465.75,26999.0
NumCompaniesWorked,1474.0,2.688602,2.496443,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1474.0,15.206920,3.659274,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1474.0,3.153324,0.360422,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1474.0,2.713704,1.080338,1.0,2.00,3.0,4.00,4.0
StandardHours,1310.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1474.0,0.794437,0.851784,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1474.0,11.274084,7.785972,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1386.0,2.797980,1.296882,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1474.0,2.761872,0.705625,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1474.0,6.996608,6.122920,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1474.0,4.221845,3.622032,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1474.0,2.183175,3.219356,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1326.0,4.061840,3.517603,0.0,2.00,3.0,7.00,17.0

In [12]:

df.columns.tolist() #Muestra las columnas

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [ ]:
# Ver unicamente Serie con la cantidad de nulos por columnas.
print(df.isnull().sum()[df.isnull().sum() > 0])

Age                       73
BusinessTravel           117
Department                29
EducationField            58
JobSatisfaction           29
MaritalStatus            132
MonthlyIncome             14
OverTime                  44
StandardHours            164
TrainingTimesLastYear     88
YearsWithCurrManager     148
dtype: int64

In [ ]:
print(df.dtypes.value_counts()) #ver cuántas columnas hay de cada tipo

int64      20
object      9
float64     6
Name: count, dtype: int64

In [ ]:
print(df['Attrition'].value_counts()) #Ver valores del attrition (rotaciones)

Attrition
No     1236
Yes     238
Name: count, dtype: int64

In [ ]:
nunique = df.nunique(dropna=False).sort_values() #detectar rápido columnas sin variabilidad o que son categóricas.
nunique.head(10)

EmployeeCount        1
Over18               1
Gender               2
Attrition            2
PerformanceRating    2
StandardHours        2
OverTime             3
BusinessTravel       4
JobInvolvement       4
WorkLifeBalance      4
dtype: int64

EL DATASET: Descubrimientos /detecciones/ datos que llaman la atencion:

1). LA TABLA:

-  Nombres de columnas con nombres muy largos: 

ej: YearsWithCurrManager

- Tipo de datos erroneo:

·JobRole — todos los valores están mal capitalizados, por ejemplo sALES eXECUTIVE en lugar de Sales Executive. Esto se arregla con .str.strip().str.title().

·MaritalStatus — hay un typo: Marreid (3 registros) que debería ser Married.

- Datos Que no aportan informacion:

· Over18 — siempre vale Y, así que esta columna no aporta información y se puede eliminar.

- Columnas sin variabilidad:

· EmployeeCount — siempre vale 1.
· StandardHours — siempre vale 80.0.

- Outliers detectados:

- MonthlyIncome — 113 outliers, pero son 
- valores válidos (sueldos altos), no son errores.
- YearsAtCompany y TotalWorkingYears — tienen valores hasta 40, que podrían ser legítimos en empleados con mucha antigüedad.
- PerformanceRating — solo tiene valores 3 y 4, así que los "outliers" son simplemente la estructura de la variable.


2). CALIDAD DE LOS DATOS: El analisis de calidad revelo algunos valores nulos en variables claves:

- StandardHours, YearsWithCurrManager, MaritalStatus.

+Se propone eliminar las filas si los nulos son pocos. De lo contrario imputar (media, mediana, moda)


3).DUPLICADOS: Se identificaron 4 filas duplicadas.
+Se propone eliminar duplicados

4.)ANALISAR ROTACIÓN(Attrition):


5). FACTORES QUE PUEDEN TENER UN EFECTO IMPORTANTE:

- Trabajo Extra (OverTime)
- Viajes De Negocios (Business Travel)
- Analisis Por Departamento Y Rol:
·Rotacion por departamento
·Rotacion por rol 

- Demografia
- Rotacion Por Estado Civil
- Factores de satisfaccion
- Seleccionar variables mas predictivas de rotacion y su correlacion:

+Propuesta: Total working years, Job Level, Monthly Income, Years In Current Role, Age.



6).POSIBLES HIPOTESIS:

·H1: Los empleado con baja satisfaccion abandonan la empresa.

·H2: Las largas jornadas aumentan la rotacion.

·H3: La falta de promocion reduce la retencion.



7). DECISIONES PARA LIMPIEZA EN FASE 2:

- Poner employees ID al principio como indice.
- Corregir ortografia de la informacion en columnas.
- Corregir el tipo de datos erroneos.
- Poner nombres mas cortos.
- Eliminar filas  que no aporten al analisis.